
body{background-color:#70dbdb;
    font-family:"helvetica";
  }
h1 {
     color:white;
     font-family:"gotham";
     font-size:50px;
     background-color:#248f8f;
     margin-top: 20px;
     text-align: left;
}
h1: hover{
  color:white;
}
